# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
venv/
env/

# Env files
.env

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# Docker
*.tar

# HuggingFace / cache
.cache/
